@import url("https://fonts.googleapis.com/css?family=Exo&display=swap");

@media (max-width:500px) {
    .LinkWarning{
        display:flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 179px;
    }
    .WarningTitle {
    

        /* Semibold / 16px | 24px */
        font-family: Exo;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */

        text-align: center;

        color: #000000;
    }

    .confirmed{
        display: flex;
    }
    .plaidButton{
        color:blue;
    }

    
}