.dialogModal {
  text-align: center !important;
}
.customized-dialog-title {
  font-family: Exo !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 30px !important;
  line-height: 38px !important;
  text-align: left !important;
}
.what {
  font-family: Exo !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 20px !important;
  line-height: 28px !important;
}
.goal {
  font-family: Exo !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 38px !important;
  line-height: 46px !important;
  text-decoration: none !important;
}

.divider {
  border: 2px solid #c4c4c4;
  margin: 10px;
}
.plan {
  width: 250px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
}

.valueEdit {
  font-family: Exo !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 12px !important;
  line-height: 20px !important;
  color: black !important;
}
.suggest {
  font-family: Exo !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 12px !important;
  line-height: 20px !important;
  color: #9e9e9e !important;
}
.percent {
  font-family: Exo !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 12px !important;
  line-height: 20px !important;
  color: #757575 !important;
}
.slider {
  margin: 0px auto;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.spending {
  width: 30% !important;
  text-align: left !important;
}
.budgeted {
  text-align: right !important;
  width: 30% !important;
}
.figures {
  display: flex !important;
  justify-content: space-between !important;
}

.backBtn {
  border: 1px solid #546e7a !important;
  box-sizing: border-box !important;
  border-radius: 4px !important;
  font-family: Exo !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #546e7a !important;
  width: 30% !important; 
}
.contBtn{
    border: 1px solid #546e7a !important;
    box-sizing: border-box !important;
    border-radius: 4px !important;
    background: #546E7A !important;
    font-family: Exo !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 16px !important;
    line-height: 24px !important;
    color: #ffffff !important;
    width: 30% !important; 
}
