/* total budget component */
.budget-container {
	background-color: white;
	display: flex;
	flex-direction: column;
	width: 100%;
	border-radius: 10px;
	text-align: center;
	border: 1px solid #d4d4d4;
}

.budget-showcase {
	background: #f0f0f0;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	border-top: 2px solid white;
}
.budget-container .budget-showcase h4 {
	color: rgb(87, 87, 87);
}
.budget-expenses p {
	color: red;
	font-size: 1.05rem;
}
.budget-goal p {
	color: green;
	font-size: 1.05rem;
}

.bar-showcase {
	margin: 10px;
}
.progress {
	background-color: #d8d8d8;
	border: 1px solid #f0f0f0;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 40px;
	width: 100%;
}
.progress-done {
	background: linear-gradient(to left, #8360c3, #2ebf91);
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}
