/* transactions component */
.trans-container {
	width: 100%;
	margin-top: 20px;
	background-color: white;
	border: 1px solid #d4d4d4;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.trans-container .trans-top-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 10px;
}
.add-trans-button {
	color: #4d4d4d;
	background-color: white;
	border: 1px solid #4d4d4d;
	padding: 10px 10px;
	border-radius: 30px;
	cursor: pointer;
	margin: 10px 10px;
	transition: 0.3s;
	display: inline-block;
	width: 20%;
	outline: none;
}
.add-trans-button:hover {
	color: white;
	background-color: #4d4d4d;
}

#view-button {
	padding: 5px 20px;
	cursor: pointer;
	border-radius: 10px;
	margin-top: 10px;
	width: 20%;
	align-items: center;
	margin: 2px auto;
	border: 1px solid #4d4d4d;
	outline: none;
}
#view-button:hover {
	color: white;
	background: #4d4d4d;
}

.trans-item {
	display: flex;
	flex-direction: column;
	margin: 1%;
	padding: 2px;
	padding-right: 10px;
}
.green {
	color: green;
}
.red {
	color: red;
}
