input{
    width:50%;
    display:block;
    padding:1rem;
}
button{
    width:70%;
    padding:0.5rem;
    margin-left:3rem;
    margin-top:0.5rem;
    color: #4d4d4d;
	background-color: white;
	border: 1px solid #4d4d4d;
	padding: 5px 10px;
	border-radius: 30px;
	cursor: pointer;
	/* opacity: 0.6; */
	transition: 0.3s;
	display: inline-block;
}
button:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19);
	color: white;
	background-color: #4d4d4d;
}
.inputContainer{
    margin-left:5rem;
    
}
.error-message{
    color:red;
    font-size: 12px;
}