.showcase {
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

.right-showcase {
	width: 30%;
	margin-right: 2%;
	margin-top: 2%;
}
.left-showcase {
	width: 65%;
	margin-left: 2%;
	margin-top: 2%;
}

/* navbar */
.nav-bar {
	display: flex;
	flex-direction: row;
	width: 99vh;
	background-color: #FFFFFF;
	border: 1px solid #E7E7E7;
	height: 6vh;
}
.nav-logo {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-basis: 200px;
	width: 50%;
	align-items: center;
	margin-left: 39px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.nav-logo:hover { 
	transform: translateY(-3px); 
}

.nav-action {
	width: 100%;
	margin-top: 8px;
	margin-bottom: 8px;
	border-right: none;
	align-items: flex-end;
}

.image {
	width: 2.5rem;
	margin-right: 7px;
}

.heading {
    width: 7.5rem;
	height: 1.1rem;
	margin-right: 3px;
	margin-top: 5px;
}

.dropdown-menu {
	float: right;
	margin-right: 2%;
}

/* phone screen */
@media screen and (max-width: 600px) {
	.nav-bar {
		width: 100%;
	}
	.showcase {
		display: flex;
		flex-direction: column;
		margin: 3%;
	}
	.right-showcase {
		width: 100%;
		margin: 2%;
	}
	.left-showcase {
		width: 100%;
		margin: 2%;
	}
}
