@import url("https://fonts.googleapis.com/css?family=Exo&display=swap");

.SignIn {
  display: flex;
  margin: 0 2rem;
}
.inputText {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 2rem 0;
}
.signInBtn {
  display: flex;
  /* You can set any size you want (in %, px, em, etc) */
}
.sign {
  font-family: Exo !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 30px !important;
  line-height: 38px !important;
  color: #37474f !important;
}
.label {
  text-align: left;
  font-family: Exo !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 22px !important;
  color: #37474f !important;
}
.account {
  display: flex;
  justify-content: center;
  font-family: Exo !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 22px !important;
  color: #357eeb !important;
  margin: 5%;
}
.account strong {
  color: #357eeb;
}
.password {
  margin-top: 30px;
  text-align: left;
}
.confirmPassword {
  margin-top: 30px;
  text-align: left;
}
