@import '~destyle.css';

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%; /* equals to 10 px */
}

.progressBar {
  background: rgba(164, 234, 230, 0.43);
  position: relative;
  height: 20px;
  width: 199px;
  border-radius: 6px;
  border: 1px solid rgba(164, 234, 230, 0.43);
}

.filler {
  height: 100%;
  background: #5acec5;
  border-radius: inherit;
  transition: width 0.2s ease-in;
  display: flex;
  justify-content: flex-end;
}
