@import url("https://fonts.googleapis.com/css?family=Exo&display=swap");
.App {
  text-align: center;
  margin: 5px auto;
  align-content: center;
  max-width: 100vw;
  max-height: 100%;
  /* background: #e5e5e5; */
}

/* body {
  background-color: #e5e5e5;
} */

* {
  font-family: "Exo", sans-serif !important;
}

.App-logo {
  margin-top: 30px;
  height: 40vmin;
  pointer-events: none;
}
@media screen and (max-width: 400px) {
  .App-logo {
    margin-top: 50px;
  }
}
.budget_img {
  margin-top: 10px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar {
  background: black;
  color: white;
}
.transaction {
  width: 70%;
}
.buttons {
  margin-top: 180px;
}
@media screen and (max-width: 400px) {
  .buttons {
    margin-top: 240px;
  }
}
.signup {
  font-family: "Exo", sans-serif !important;
  text-transform: none !important;
  font-size: 16px !important;
  background: #1890ff !important ;
  border: 1px solid #ffffff !important;
  color: #ffffff !important;
  width: 70% !important;
  margin-bottom: 10px !important;
}
.signin {
  font-family: "Exo", sans-serif !important;
  text-transform: none !important;
  font-size: 16px !important;
  background: #ffffff !important ;
  border: 1px solid #1890ff !important;
  color: #1890ff !important;
  width: 70% !important;
}
.links {
  text-decoration: none;
  font-family: "Exo", sans-serif !important;
  color: #282c34;
}

.expenses,
.blocks {
  height: 500px;
  border: black solid 2px;
  border-radius: 10px;
}

.exp-blocks-container {
  width: 90%;
  height: 500px;
  display: flex;
  justify-content: space-around;
  background: white;
  width: 100%;
  height: 100%;
  padding: 5%;
}

.blocks-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: white;
  background-color: #3bc14a;
  width: 100%;
  height: 46px;
  border-left: solid 4px #3bc14a;
}

.expense-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: white;
  background-color: #003fe1;
  width: 100%;
  height: 46px;
  border-right: solid 4px #003fe1;
}

.fifty-width {
  width: 50px;
}

.seventy-width {
  width: 70px;
}
.hundred-width {
  width: 100px;
}
.block {
  border: red 1px solid;
  border-radius: 5px;
}

.expense {
  border: blue 1px solid;
  border-radius: 5px;
}

.green {
  background-color: lightgreen;
}
.green-font {
  color: #3bc14a;
}
.edit-sub-btn,
.delete-sub-btn {
  height: 60px;
  width: 100px;
}
.red {
  color: red;
}

.manual-container1,
.manual-container2 {
  padding: 1%;
  background: #e5e5e5;
  max-width: 48%;
  border-radius: 5px;
  padding-left: 0;
  text-align: center;
}
Expense {
  width: 100%;
}
